@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", Roboto, "Helvetica Neue", sans-serif !important;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #f2f2f2;
    /* font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; */
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}
