azure-identity==1.15.0
Flask==2.3.2
openai==0.27.8
azure-storage-blob==12.19.0
python-dotenv==1.0.0
langchain==0.0.329
azure-ai-formrecognizer==3.3.2
requests==2.31.0
tiktoken==0.2.0
azure-storage-queue==12.9.0
beautifulsoup4==4.12.2
fake-useragent==1.4.0
chardet==5.2.0
--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.4.0b8
opencensus-ext-azure==1.1.13
azure-ai-contentsafety==1.0.0b1
python-docx==0.8.11
