# Azure Credentials
CLIENT_ID=
CLIENT_SECRET=
TENANT_ID=

# Azure AI Project Details
SUBSCRIPTION_ID=
RESOURCE_GROUP_NAME=
# PROJECT_NAME=

# Model Configuration (cwyd rg)
AZURE_ENDPOINT=
AZURE_DEPLOYMENT=
BASE_URL=