.answerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8.1285px;
    gap: 5.42px;
    /* background: #FFFFFF; */
    background: #E0E3E9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 5.419px; */
    border-radius: 3px 3px 3px 0px;
    max-width: 100%;
}

.sourcesTitle {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  margin-left: 8px;
}

.answerText {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #323130;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px;
    white-space: normal;
    word-wrap: break-word;
    max-width: 800px;
    overflow-x: auto;
}

.answerText p {
  margin: 0px;
}

.answerProntoResponse {
  margin-top: 8px;
}

.answerFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.answerNewFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  font-size: 12px;
  color: #63728A;
  margin-top: 6px;
}

.answerDisclaimerContainer {
    justify-content: center;
    display: flex;
}

.answerDisclaimer {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-right: 5px;
    margin-left: 10px;
    padding-bottom:5px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #707070;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.citationContainer {
    margin-left: 8px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    max-width: 100%;
    /* color: #115EA3; */
    color: #14171D;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 16px 5px 6px;
    gap: 8px;
    border: 1px solid #D1D1D1;
    border-radius: 24px;
    background-color: #EFF1F4;
    transition: background-color 0.5s;
}

.citationContainer:hover {
    /* text-decoration: underline; */
    cursor: pointer;
    background-color: #CED5DD;
}

.citation {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 16px;
    height: 16px;
    /* border: 1px solid #E0E0E0; */
    border-radius: 28px;
    flex: none;
    flex-grow: 0;
    z-index: 2;
    /* font-family: "Segoe UI"; */
    font-style: normal;
    /* font-weight: 600; */
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #505D74;
    cursor: pointer;
    background-color: #E0E3E9;
}

.citation:hover {
    /* text-decoration: underline; */
    cursor: pointer;
}

.citationToolTip {
  /* color: red !important; */
  width: 500px;
  max-height: 40vh;
  overflow-wrap: break-word;
  width: 100%;
  overflow: auto;
}

.citationTitle {
  width: 45%;
  max-width: 300px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  color: #14171D;
  font-weight: 400;
  font-size: 14px;
}

.citationSource {
  width: 35%;
  max-width: 250px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  color: #505D74;
  font-weight: 400;
  font-size: 14px;
}

.accordionIcon {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 4px;
    color: #616161;
    font-size: 10px;
}

.accordionIcon:hover {
    cursor:pointer;
}

.accordionTitle {
    margin-right: 5px;
    margin-left: 10px;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #616161;
}

.accordionTitle:hover {
    cursor:pointer;
}

.clickableSup {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 14px;
    height: 14px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #424242;
    cursor: pointer;
}

.clickableSup:hover {
    text-decoration: underline;
    cursor: pointer;
}

sup {
    font-size: 10px;
    line-height: 10px;
}


@media (max-width: 500px) {
    .answerFooter {
      flex-direction: column;
    }

    .citationContainer {
        width: 100%;
        overflow-y: auto;
    }
  }
