# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
streamlit==1.30.0
openai==1.7.2
matplotlib==3.8.2
plotly==5.18.0
scipy==1.12.0
scikit-learn==1.4.0
transformers==4.37.0
python-dotenv==1.0.0
azure-ai-formrecognizer==3.3.2
azure-storage-blob==12.19.0
azure-identity==1.15.0
azure-ai-contentsafety==1.0.0
requests==2.31.0
tiktoken==0.5.2
azure-storage-queue==12.9.0
langchain==0.1.0
beautifulsoup4==4.12.3
fake-useragent==1.4.0
chardet==5.2.0
--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.5.0a20240119001
opencensus-ext-azure==1.1.13
pandas==2.1.4
python-docx==1.1.0
