name: Broken Link Checker

on:
  pull_request:
    paths:
      - '**/*.md'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  markdown-link-check:
    name: Check Markdown Broken Links
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # For PR : Get only changed markdown files
      - name: Get changed markdown files (PR only)
        id: changed-markdown-files
        if: github.event_name == 'pull_request'
        run: |
          git fetch origin ${{ github.base_ref }}
          files=$(git diff --name-only origin/${{ github.base_ref }}...HEAD | grep '\.md$' || true)
          echo "md_files<<EOF" >> $GITHUB_OUTPUT
          echo "$files" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Check Broken Links in Added/Modified Files (PR)
        if: github.event_name == 'pull_request' && steps.changed-files.outputs.md_files != ''
        uses: lycheeverse/lychee-action@v2.7.0
        with:
          args: >
            --verbose --exclude-mail --no-progress --exclude ^https?://
            ${{ steps.changed-markdown-files.outputs.all_changed_files }}
          failIfEmpty: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # For manual trigger: Check all markdown files in repo
      - name: Check Broken Links in All Markdown Files in Entire Repo (Manual Trigger)
        id: lychee-check-manual
        if: github.event_name == 'workflow_dispatch'
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          args: >
            --verbose --exclude-mail --no-progress --exclude ^https?://
            '**/*.md'
          failIfEmpty: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
