name: Reusable Docker build and push workflow

on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      username:
        required: true
        type: string
      app_name:
        required: true
        type: string
      dockerfile:
        required: true
        type: string
      branch:
        required: true
        type: string
      push:
        required: true
        type: boolean
      DOCKER_PASSWORD:
        required: true
        type: string
      DEV_DOCKER_PASSWORD:
        required: true
        type: string

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
    - name: Print target branch detail
      run: |
        echo "Target branch:" ${{ inputs.branch }}
        echo "Target branch status:" ${{ inputs.push }}
        echo "Target registry status:" ${{ inputs.registry }}
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.workflow_run.head_branch }}

    - name: Docker Login
      if: ${{ inputs.push == true && inputs.branch == 'main' }}
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username }}
        password: ${{ inputs.DOCKER_PASSWORD }}

    - name: Dev Docker Login
      if: ${{ inputs.push == true && (inputs.branch == 'dev' || inputs.branch == 'demo') }}
      uses: docker/login-action@v3
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.username }}
        password: ${{ inputs.DEV_DOCKER_PASSWORD }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Build Docker Image and optionally push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ${{ inputs.dockerfile }}
        push: ${{ inputs.push }}
        cache-from: type=registry,ref=${{ inputs.registry }}/${{ inputs.app_name}}:${{ inputs.branch == 'main' && 'latest' || inputs.branch == 'dev' && 'dev' || inputs.branch == 'demo' && 'demo' || 'latest' }}
        tags: |
          ${{ inputs.registry }}/${{ inputs.app_name}}:${{ inputs.branch == 'main' && 'latest' || inputs.branch == 'dev' && 'dev' || inputs.branch == 'demo' && 'demo' || 'latest' }}
          ${{ inputs.registry }}/${{ inputs.app_name}}:${{ steps.date.outputs.date }}_${{ github.run_number }}
